.header {
    background-color: rgb(69 15 96);
    color: #fff;
    padding: 10px;
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px;
    left: -8px;
    height: 79px;
}

    .header h1 {
        margin: 2px;
        padding-left: 20px;
        font-weight: bold;
        font-style: oblique;
        font-size: 40px;
    }

    .header nav {
        text-align: right;
    }

        .header nav ul {
            list-style-type: none;
            padding: 0;
            margin-top: 0;
        }

            .header nav ul li {
                display: inline-block;
                margin-right: 10px;
            }

                .header nav ul li a {
                    color: #fff;
                    text-decoration: none;
                    margin-right: 20px;
                    font-size: 20px;
                }

                    .header nav ul li a:hover {
                        text-decoration: underline;
                    }

.content {
    margin-top: 100px; /* Adjust to match header height */
    padding: 20px;
}
