/* General styles */
body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Return button styles */
.returnButton {
    position: absolute;
    top: 115px;
    left: 20px;
    padding: 7px 11px;
    background-color: rgb(102, 32, 137);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .returnButton:hover {
        background-color: rgb(66, 26, 103);
    }
.clickButton {
    display: block;
    background-color: rgb(102, 32, 137);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left: 230px;
}

    .clickButton:hover {
        background-color: rgb(66, 26, 103);
    }


/* Form styles */
.InventoryInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.InventoryForm {
    width: 50%;
    padding: 20px;
    background: rgba(192, 158, 251, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .InventoryForm h2 {
        text-align: center;
        margin-bottom: 20px;
    }

.InventoryInputs label {
    display: block;
    margin-bottom: 10px;
}

.InventoryInputs input {
    width: calc(100% - 12px); /* Adjust the gap between input boxes */
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid rgb(139, 130, 143);
    border-radius: 5px;
    margin-bottom: 10px;
}

.InventoryInputs button {
    display: block;
    background-color: rgb(102, 32, 137);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left: 483px;
}

    .InventoryInputs button:hover {
        background-color: rgb(66, 26, 103);
    }

/* Message styles */
#message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(102, 32, 137);
}
